apiVersion: v1
kind: ConfigMap
metadata:
  name: connect-config
  namespace: kafka-connect-apache
data:
  connect-distributed.properties: |
    bootstrap.servers=${BOOTSTRAP_SERVERS}

    group.id=connect-cluster

    config.storage.topic=_connect-configs
    offset.storage.topic=_connect-offsets
    status.storage.topic=_connect-status

    # Confluent Cloud is typically RF=3
    config.storage.replication.factor=3
    offset.storage.replication.factor=3
    status.storage.replication.factor=3

    # REST API
    rest.port=8083
    # Unique per pod is ideal; Kubernetes sets HOSTNAME automatically
    rest.advertised.host.name=${HOSTNAME}

    key.converter=org.apache.kafka.connect.json.JsonConverter
    value.converter=org.apache.kafka.connect.json.JsonConverter
    key.converter.schemas.enable=false
    value.converter.schemas.enable=false

    # Confluent Cloud auth
    security.protocol=SASL_SSL
    sasl.mechanism=PLAIN
    sasl.jaas.config=org.apache.kafka.common.security.plain.PlainLoginModule required username='${KAFKA_API_KEY}' password='${KAFKA_API_SECRET}';
